---
# tasks file for hswong3i.apache2

- name: apt-get purge
  apt: name="{{ item }}" state=absent purge=yes
  with_items:
    - apache2-mpm-event
    - apache2-mpm-itk
    - apache2-mpm-worker
  notify: restart apache2
  tags: hswong3i.apache2

- name: apt-get install
  apt: name="{{ item }}" state=latest
  with_items:
    - apache2
    - apache2-doc
    - apache2-mpm-prefork
    - apache2-suexec-custom
    - apache2-utils
    - libapache2-mod-fcgid
    - libapache2-mod-rpaf
  notify: restart apache2
  tags: hswong3i.apache2

- name: copy templates
  template:
    src={{ item.src }}
    dest={{ item.dest }}
    owner={{ item.owner }}
    group={{ item.group }}
    mode={{ item.mode }}
  with_items:
    - { src: 'etc/apache2/apache2.conf.j2', dest: '/etc/apache2/apache2.conf', owner: 'root', group: 'root', mode: '0644' }
    - { src: 'etc/apache2/ports.conf.j2', dest: '/etc/apache2/ports.conf', owner: 'root', group: 'root', mode: '0644' }
  notify: restart apache2
  tags: hswong3i.apache2

- name: enable module
  apache2_module: name="{{ item }}" state=present
  with_items: apache2_module_name
  when: apache2_module_name is iterable
  notify: restart apache2
  tags: hswong3i.apache2

- name: enable service
  service: name=apache2 enabled=yes
  notify: restart apache2
  tags: hswong3i.apache2

- name: enable incomming connection
  ufw:
    to_port={{ item }}
    proto=tcp
    rule=allow
  with_items:
    - "{{ apache2_http_port }}"
    - "{{ apache2_https_port }}"
  notify: restart apache2
  tags: hswong3i.apache2
